/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 $vspacing;
}
.byline,
.updated {
	display: none;
}
.single, .group-blog {
	.byline {
		display: inline;
	}
}
.page-content,
.entry-content,
.entry-summary {
	margin: $vspacing 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 $vspacing;
}