/* =Navigation
----------------------------------------------- */

.site-content [class*="navigation"] {
	margin: 0 0 $vspacing;
	overflow: hidden;

	.previous {
		float: left;
		width: 50%;
	}

	.next {
		float: right;
		text-align: right;
		width: 50%;
	}

}