// Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.

$base-font: sans-serif;
$header-font: $base-font; // you can refer to other variables

/* Supported Values for $layout:
  null | content-sidebar | content-sidebar-sidebar | sidebar-content | sidebar-content-sidebar | sidebar-sidebar-content
*/
$layout: null !default;
$vspacing: 1.5em;