/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 $vspacing;

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}

	/* Search widget */
	.widget-search .search-submit {
		display: none;
	}

}


